.App {
  text-align: center;
  background: url("https://www.grm.digital/Assets/dist/assets/svgs/cover-bg.svg")
    center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;
  background-color: #f5fbe6;
}
td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  color: rgb(26, 26, 26);
  line-height: 24px;
}
th {
  font-weight: 600;
}
.start-btn {
  width: 600px;
  padding: 10px 16px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(26, 26, 26);
  text-transform: uppercase;
  background-color: #a8da23;
  border: 1px solid rgb(128, 128, 128);
  border-top: none;
  margin-bottom: 2em;
  cursor: pointer;
}
form {
  margin-top: 2em;
  width: 600px;
}
.inputs {
  padding: 16px;
  border: none;
  outline: none;
  background: no-repeat bottom, 50% 100%;
  background-size: 0 100%, 100% 100%;
  border: 0;
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  background-image: linear-gradient(0deg, #a8da23 2px, rgba(63, 81, 181, 0) 0),
    linear-gradient(0deg, #666666 2px, transparent 0);
  margin: 0 10px;
}
.inputs:focus {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
}
label {
  margin: 0 10px;
  font-weight: bold;
  color: rgb(26, 26, 26);
  line-height: 24px;
}
.form-submit {
  margin-top: 2em;
  letter-spacing: 1.5px;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  background-color: #a8da23;
  color: rgb(26, 26, 26);
  border: none;
  cursor: pointer;
}
